In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [2]:
#Dependencies to scrap data
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import re

### Extract CSVs into DataFrames

In [3]:
car_file_path = "../top_selling_car.csv"
car_data = pd.read_csv(car_file_path)
car_brand = car_data[["#","Car brand","Car model","Release year"]]
car_brand = car_brand.rename(columns ={"#":"top","Car brand":"brand","Car model":"model","Release year":"year_release"})
car_brand["2011"]="2011"
car_brand["2012"]="2012"
car_brand["2013"]="2013"
car_brand["2014"]="2014"
car_brand["2015"]="2015"
car_brand.head()

   top       brand     model  year_release  2011  2012  2013  2014  2015
0    1      Toyota   Corolla          1966  2011  2012  2013  2014  2015
1    2        Ford  F-Series          1977  2011  2012  2013  2014  2015
2    3  Volkswagen      Golf          1974  2011  2012  2013  2014  2015
3    4  Volkswagen    Beetle          1938  2011  2012  2013  2014  2015
4    5         Vaz      2101          1970  2011  2012  2013  2014  2015

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
car_price=car_brand
car_price["vin_2011"]=""
car_price["vin_2012"]=""
car_price["vin_2013"]=""
car_price["vin_2014"]=""
car_price["vin_2015"]=""
car_price.head()

,top,brand,model,year_release,2011,2012,2013,2014,2015,vin_2011,vin_2012,vin_2013,vin_2014,vin_2015
0,1,Toyota,Corolla,1966,2011,2012,2013,2014,2015,,,,,
1,2,Ford,F-Series,1977,2011,2012,2013,2014,2015,,,,,
2,3,Volkswagen,Golf,1974,2011,2012,2013,2014,2015,,,,,
3,4,Volkswagen,Beetle,1938,2011,2012,2013,2014,2015,,,,,
4,5,Vaz,2101,1970,2011,2012,2013,2014,2015,,,,,

In [6]:
#Url to get the good deal of cars
brand=car_price["brand"].astype(str)
model=car_price["model"].astype(str)
for i in range(1,6):
    year = "201"+str(i)
    year_vin_text = "vin_201"+str(i)
    for j in range(1,len(car_brand)):
        try:
            url="https://www.edmunds.com/inventory/srp.html?inventorytype=used%2Ccpo&make="+brand[j]+"&model="+model[j]+"&year="+year+"-"+year
            browser.visit(url)
            html = browser.html
            soup = BeautifulSoup(html, 'html.parser')
            #prices = soup.find_all('h3', class_='mb-0 text-gray-darker')
            results = soup.find_all('li', class_="search-results-inventory-card no-gutters list-unstyled bg-white mb-0_75 mb-lg-1 srp-vehicle-card hover row")
            price = results[0].find('h3',class_="mb-0 text-gray-darker").text
            href=results[0].a["href"]
            vin=re.findall('vin/(.+)/',href)
            if (vin and price):
                car_price[year].append(price)
                car_price[year_vin_text].append(vin)
        except (Exception, KeyError) as e:
            print(e)

SyntaxError: invalid syntax (<ipython-input-6-8e4427f93341>, line 18)

In [ ]:
car_price.loc(5,"2011")

In [74]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
prices = soup.find_all('h3', class_='mb-0 text-gray-darker')
results = soup.find_all('li', class_="search-results-inventory-card no-gutters list-unstyled bg-white mb-0_75 mb-lg-1 srp-vehicle-card hover row")
price = results[0].find('h3',class_="mb-0 text-gray-darker").text
a=results[0].a["href"]
vin=re.findall('vin/(.+)/',a)
print(vin)
print(price)

['19XFB2F87FE086310']
$8,991